<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Certification</title>
</head>
<body>
    <h1>Add Certification Details</h1>

    <!-- Existing Certification Records (if any) -->
    <h2>Your Certification Records</h2>
    {% if existing_certificate %}
        <ul>
            {% for certification in existing_certificate %}
                <li>{{ certification.certification_name }} - {{ certification.issued_by }} ({{ certification.issued_on}})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not added any certification records yet.</p>
    {% endif %}

    <!--  Form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save </button>
    </form>

</body>
</html>
