{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'jobapp/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
        <p>Are you Admin! <a href="{% url 'admin_login' %}">Admin Login</a></p>

    </div>
</body>
</html>
